.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: var(--clr-primary-1) !important;
}

.Button:active {
  background-color: var(--clr-primary-1) !important;
}

.Button:focus {
  background-color: var(--clr-primary-1);
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: var(--clr-primary-1);
  color: var(--clr-white);
}

.BlueOutline,
.Blue:hover {
  /* border: 1px solid #2142b2; */
  background-color: var(--clr-white);
  color: var(--clr-primary-1);
}

.Black,
.BlackOutline:hover {
  /* background-color: #242a3d;
  color: white; */
  background-color: #242a3d;
  color: var(--clr-grey-3);
}

.Black:hover,
.BlackOutline {
  /* background-color: #dadadf;
  color: #242a3d;
  border-color: #242a3d; */
  background-color: var(--clr-grey-3);
  color: var(--clr-grey-2);
}

.Bright {
  background-color: var(--clr-primary-2);
  color: var(--clr-primary-1);
}
