.NavBar {
  background-color: var(--clr-white);
  border-bottom: 1px solid var(--clr-grey-1);
  letter-spacing: var(--spacing);
}

.Navlink {
  padding: 5px;
}

.Active i {
  color: var(--clr-primary-1);
}
