.Review {
  background: var(--glass-background);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
  border: var(--glass-border);
  text-align: center;
}

.Review figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #f85032;
}

.Heart:hover {
  color: #2142b2;
}

.HeartOutline:hover {
  color: #f85032;
}