.SearchBar input {
  font-family: var(--ff-primary);
  background-color: var(--clr-grey-3);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  border: var(--glass-border);
  color: var(--clr-black);
  padding-left: 40px;
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
  color: var(--clr-grey-2);
}

.SearchIcon:hover {
  cursor: default;
  color: var(--clr-grey-1);
}