:root {
  /* Primary color shades */
  --clr-primary-1: rgb(6, 50, 81);
  --clr-primary-2: rgb(16, 78, 122);
  /* Secondary color shades */
  --clr-secondary: rgb(24, 5, 47);
  --clr-grey-1: rgb(171, 171, 171);
  --clr-grey-2: rgb(99, 99, 99);
  --clr-grey-3: rgb(240, 248, 255);
  /* Warning color */
  --clr-warning: rgb(250, 66, 66);
  --clr-warning-light: rgb(255, 195, 84);
  /* White/black color shades */
  --clr-white: #ffffff;
  --clr-black: #000000;
  /* Primary and secondary font families */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  /* Commonly used CSS properties for consistency */
  --transition: color ease-in-out 0.3s;
  --spacing: 0.15rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  /* Glass morphism effect */
  --glass-background: rgba(255, 255, 255, 0.09);
  --glass-border: 1px solid rgba(255, 255, 255, 0.16);
  --glass-box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
  --glass-border-radius: 16px;
  --glass-blur: blur(4px);
}

.App {
  font-family: var(--ff-secondary);
  background-color: var(--clr-grey-2);
  min-height: 100vh;
}

/* Production CSS */
.main {
  padding-top: 81px;
}

.Content {
  /* Push all content down */
  margin-top: 5rem;
  background: var(--glass-background);
  border-radius: var(--glass-border-radius);
  box-shadow: var(--glass-box-shadow);
  backdrop-filter: var(--glass-blur);
  -webkit-backdrop-filter: var(--glass-blur);
  border: var(--glass-border);
  padding: 10px;
}

.FillerImage {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--clr-grey-1);
  transition: var(--transition);
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: var(--clr-primary-1);
  transition: var(--transition);
}

input[type='file'] {
  display: none;
}

i {
  color: var(--clr-grey-1);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  cursor: pointer;
  color: var(--clr-primary-1);
  transition: var(--transition);
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: var(--clr-white);
}
*::-webkit-scrollbar-thumb {
  background: var(--clr-grey-1);
}
*::-webkit-scrollbar-thumb:hover {
  background: var(--clr-grey-2);
}
